#large dataset folders
data/
References/

#cache files
__pycache__/
*.pyc

#large files
*.zip
*.csv
*.json

#OS files
.DS_Store

.venv/
node_modules/

# models
models/
*.pt
*.pth
*.safetensors

# audio
*.wav

# checkpoints
checkpoint-*/